Package: _PACKAGE_NAME_
Version: _VERSION_
Architecture: _SOFT_ARCH_
Maintainer: Ricardo Marcelo Alvarez <rmalvarez@gnupanel.org>
Pre-Depends: php-cli, php-curl, php-gd, php-gmp, php-mysql, php-pgsql, php-sqlite3, php-xmlrpc, php-xsl, php-geoip, php-intl, php-bz2, php-mbstring, php-bcmath, coreutils, grep, mawk, dialog, bash, ncurses-bin, findutils, sed, ioncube-loader, systemd, dbconfig-pgsql | dbconfig-no-thanks, dbconfig-common, haveged, rng-tools-debian
Section: non-free/misc
Priority: optional
Installed-Size: _SIZE_PKG_
Homepage: http://geeklab.com.ar
Description: Martingale System
