Package: __SOFT_NAME__
Version: __VERSION__
Architecture: amd64
Maintainer: Ricardo Marcelo Alvarez <rmalvarezkai@gmail.com>
Pre-Depends: coreutils, bash, python3, python3-venv, dbconfig-pgsql | dbconfig-mysql | dbconfig-no-thanks
Suggests: postgresql | mariadb-server
Section: non-free/misc
Priority: optional
Installed-Size: __SIZE__
Homepage: https://github.com/rmalvarezkai/ehdtd_daemon
Description: Daemon script for the ehdtd python package
